$gap: 1rem;

.profile-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1.5rem;
}
.profile-name {
    font-size: 2.5rem;
}
.actor-overview {
    margin-bottom: 2rem!important;
}
.profile-key {
    margin: 0;
    color: #dbdbdb;
    font-weight: bold;
    line-height: 1.5;
}
.profile-value {
    margin: 0 0 1.25rem;
    color: #b5b5b5;
}
.profile-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * #{$gap}) 1rem;

    .profile-image {
        flex: 0 0 calc(25% - #{$gap} * 2);
        padding: 0.75rem $gap;

        .profile-image-container {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    @media screen and (max-width: 1216px) {
        .profile-image {
            flex: 0 0 calc(33.33% - #{$gap} * 2);
        }
    }
    @media screen and (max-width: 576px) {
        .profile-image {
            flex: 0 0 calc(50% - #{$gap} * 2);
        }
    }
}

