.background {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(2,13,24,.75);
    }
}
.margin-neg {
    margin: -23.5rem 0 0;
}
.detail { 
    display: flex;

    .detail-card {
        padding: 0.75rem 0;
        flex: none;
        width: 20%;
    }
    .detail-info {
        padding: 1.6rem 0;
        min-width: 0;
        flex-grow: 1;
    }
    .detail-item {
        padding-left: 2rem;
        padding-right: 2rem;

        .detail-poster {
            margin-bottom: 2rem;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .detail-watch {
            text-transform: uppercase;
            font-size: 1.25rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #dd003f;
            padding: 0.75rem ;
            border-radius: 4px;
            transition: 0.3s ease;
            
            &:hover {
                background-color: #f03a5f;
            }
            span {
                margin-left: 1rem;
            }
        }

        .detail-title {
            font-family: Merriweather, serif;
            font-size: 2.5rem;
            font-weight: 400;
            margin: 0 0 0.25rem;
        }
        .detail-subtitle {
            font-weight: 400;
            color: #b5b5b5;
            margin: 0 0 2.5rem;
        }
        .detail-time {
            margin: 0 0 1.5rem;
        }
        .detail-rate {
            margin: 0 0 1.5rem;
            font-weight: bold;
            line-height: 1.5;
        }
        .detail-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .detail-btns {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                .detail-btn {
                    padding: 0.55rem 1rem;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    transition: 0.3s ease;
                    margin-bottom: 0.5rem;

                    span {
                        margin-left: 0.5rem;
                    }
                }
                .detail-btn:not(:first-child) {
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
                .detail-alb {
                    background-color: #48c774;

                    &:hover {
                        background-color: #3ec46d;
                    }
                }
                .detail-share {
                    background-color: #3273dc;

                    &:hover {
                        background-color: #276cda;
                    }
                }
                .detail-watched {
                    background-color: #cf2122;

                    &:hover {
                        background-color: #c41f20;
                    }
                }
            }
            .detail-genres {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                .detail-genre {
                    padding: 0.35rem 0.9rem;
                    border: solid 1px #fff;
                    border-radius: 100px;
                    font-size: 0.75rem;
                    margin: 0 0.25rem 0.5rem;
                    transition: 0.3s ease;
                    text-align: center;

                    &:hover {
                        background-color: #fff;
                        color: #3273dc;
                    }
                }
            }
        }
        .detail-list {
            margin-bottom: 3rem;

            .detail-li {
                display: flex;
                margin-bottom: 0.25rem;
                line-height: 1.5;
            }
            .detail-key {
                min-width: 120px;
                margin: 0;
                text-transform: uppercase;
                color: #7a7a7a;
            }
            .detail-value {
                font-weight: bold;
                color: #dbdbdb;
                margin: 0;
            }
        }
        .detail-overview {
            color: #b5b5b5;
            margin: 0;
        }
        .detail-cast {
            text-align: center;
            line-height: 1.5;
            font-size: 0.9rem;

            .detail-cast-img {
                border-radius: 50%;
                width: 120px;
                height: 120px;
                overflow: hidden;
                margin: 0 auto 0.5rem;
                border: solid 2px transparent;
                transition: 0.3s ease;

                img {
                    width: 100%;
                    height: auto;
                }
                &:hover {
                    border: solid 2px orange;
                }
            }
            .detail-cast-name {
                color: #dbdbdb;
                font-weight: bold;
                margin: 0;
            }
            .detail-cast-char {
                margin: 0;
                color: #7a7a7a;
            }
        }
        .detail-trailer {
            padding: 0 0.5rem;
            box-sizing: border-box;
            cursor: pointer;
            
            .detail-trailer-img {
                border: solid 2px transparent;
                transition: 0.3s ease;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
                .detail-trailer-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: 0.3s ease;
                }
                &:hover {
                    border: solid 2px orange;
                }
                &:hover  .detail-trailer-icon {
                    opacity: 1;
                }
            }
            
        }
        .slider-title {
            font-size: 0.9rem;
            text-transform: uppercase;
            margin: 2rem 0 1.2rem;
        }
    }
    @media screen and (max-width: 1216px) {
        .detail-item {
            .detail-links {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .detail-card {
            width: 25%;
        }
    }
}
.trailer-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    background-color: rgba(10,10,10,.86);
    transition: 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    .trailer-exit {
        position: absolute;
        top: 2%;
        right: 1%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .trailer-exit-btn {
            transition: 0.3s ease;
            color: #fff;
            font-size: 1.25rem;
        }
        .trailer-exit-btn:hover {
            color: rgba($color: #fff, $alpha: 0.7);
        }
    }
}

@media screen and (max-width: 768px) {
    .detail {
        flex-direction: column;

        .detail-card {
            width: auto;
            align-self: center;
        }
        .detail-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            .detail-poster {
                margin: 0 auto 2rem;
            }
            .detail-links {
                flex-direction: column;
                align-items: center;

                .detail-genres {
                    justify-content: center;
                }
            }
        }
    }
    .slick-arrow {
        top: -1.5rem;
    }
    .slick-prev {
        left: 91%;
    }
    .slick-next {
        left: 96%;
    }
}
@media screen and (max-width: 576px) {
    .slick-prev {
        left: 85%;
    }
    .slick-next {
        left: 94%;
    }
}