.background {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(2,13,24,.75);
    }
}
.margin-neg {
    margin: -24.5rem -2rem 0;
}
.detail { 
    display: flex;

    .detail-card {
        padding: 0.75rem 0;
    }
    .detail-info {
        padding: 1.6rem 0;
        min-width: 0;
        flex-grow: 1;
    }
    .detail-item {
        padding-left: 2rem;
        padding-right: 2rem;

        .detail-poster {
            width: 288px;
            margin-bottom: 2rem;
    
            img {
                width: 100%;
                height: auto;
            }
        }
        .detail-watch {
            text-transform: uppercase;
            font-size: 1.25rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #dd003f;
            padding: 0.75rem ;
            border-radius: 4px;
            transition: 0.3s ease;
            
            &:hover {
                background-color: #f03a5f;
            }
            span {
                margin-left: 1rem;
            }
        }

        .detail-title {
            font-family: Merriweather, serif;
            font-size: 2.5rem;
            font-weight: 400;
            margin: 0 0 0.25rem;
        }
        .detail-subtitle {
            font-weight: 400;
            color: #b5b5b5;
            margin: 0 0 2.25rem;
        }
        .detail-time {
            margin: 0 0 1.5rem;
        }
        .detail-rate {
            margin: 0 0 1.5rem;
            font-weight: bold;
            line-height: 1.5;
        }
        .detail-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.5rem;

            .detail-btns {
                display: flex;

                .detail-btn {
                    padding: 0.55rem 1rem;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                }
                .detail-btn:not(:last-child) {
                    margin-right: 0.75rem;
                }
                .detail-alb {
                    background-color: #48c774;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: #3ec46d;
                    }
                    span {
                        margin-left: 0.5rem;
                    }
                }
                .detail-share {
                    background-color: #3273dc;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: #276cda;
                    }
                    span {
                        margin-left: 0.75rem;
                    }
                }
            }
            .detail-genres {
                display: flex;
                justify-content: flex-end;

                .detail-genre {
                    padding: 0.35rem 0.9rem;
                    border: solid 1px #fff;
                    border-radius: 100px;
                    font-size: 0.75rem;
                    margin-left: 0.5rem;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: #fff;
                        color: #3273dc;
                    }
                }
            }
        }
        .detail-list {
            margin-bottom: 3.5rem;

            .detail-li {
                display: flex;
                margin-bottom: 0.25rem;
                line-height: 1.5;
            }
            .detail-key {
                width: 120px;
                margin: 0;
                text-transform: uppercase;
                color: #7a7a7a;
            }
            .detail-value {
                font-weight: bold;
                color: #dbdbdb;
                margin: 0;
            }
        }
        .detail-overview {
            color: #b5b5b5;
            margin: 0;
        }
        .detail-cast {
            text-align: center;
            line-height: 1.5;
            font-size: 0.9rem;

            .detail-cast-img {
                border-radius: 50%;
                width: 120px;
                height: 120px;
                overflow: hidden;
                margin: 0 auto 0.5rem;
                border: solid 2px transparent;
                transition: 0.3s ease;

                img {
                    width: 100%;
                    height: auto;
                }
                &:hover {
                    border: solid 2px orange;
                }
            }
            .detail-cast-name {
                color: #dbdbdb;
                font-weight: bold;
                margin: 0;
            }
            .detail-cast-char {
                margin: 0;
                color: #7a7a7a;
            }
        }
        .detail-trailer {
            padding-right: 1.5rem;
            box-sizing: border-box;
            cursor: pointer;
            
            .detail-trailer-img {
                border: solid 2px transparent;
                transition: 0.3s ease;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
                .detail-trailer-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: 0.3s ease;
                }
                &:hover {
                    border: solid 2px orange;
                }
                &:hover  .detail-trailer-icon {
                    opacity: 1;
                }
            }
            
        }
        .slider-title {
            font-size: 0.9rem;
            text-transform: uppercase;
            margin: 2rem 0 1.2rem;
        }
    }
}
.trailer-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    background-color: rgba(10,10,10,.86);
    transition: 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    .trailer-exit {
        position: absolute;
        top: 2%;
        right: 1%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .trailer-exit-btn {
            transition: 0.3s ease;
            color: #fff;
            font-size: 1.25rem;
        }
        .trailer-exit-btn:hover {
            color: rgba($color: #fff, $alpha: 0.7);
        }
    }
}
.slick-arrow {
    top: -1.5rem;
    &::before {
        font-size: 1.75rem;
    }
}
.slick-prev {
    left: 95%;
}
.slick-next {
    left: 98%;
}