.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    background-color: transparent;
    transition: 0.3s ease;

    #nav-brand {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

        #nav-logo { 
            padding: 0.75rem 0.75rem;
            display: flex;
            align-items: center;
            img {
                width: 112px;
                height: 28px;
            }
        }
    }

    #nav-right {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;

        #nav-list {
            display: flex;
        }

        #nav-btn-container {
            margin: 0.5rem 0.75rem;

            .nav-btn {
                background-color: #cf2122;
                padding: 0.575rem 1.1rem;
                border-radius: 4px;
                text-align: center;

                &:hover {
                    background-color: #c41f20;
                }
            }
        }
        
    }
}
.nav-li {
    display: flex;
}

.nav-item {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    &:hover {
        background-color: #102c48;
        color: #428bca;
    }
    span {
        margin-left: 0.3rem;
    }
}
.active {
    color: #428bca;
}
.nav-profile {
    position: relative;
    transition: 0.3s ease;

    &:hover {
        background-color: #102c48;
    }

    .nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        span {
            margin-right: 0.25rem;
        }
        .nav-profile-icon {
            margin: 0 0.25rem;
        }
    }
    .profile-list {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        background-color: #242424;
        display: none;
        line-height: 1.5;
        

        .profile-li {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            transition: 0.3s ease;
            white-space: nowrap;

            &:hover, &:hover .profile-icon {
                background-color: #f5f5f5;
                color: #0a0a0a;
            }

            .profile-icon {
                margin-right: 0.75rem;
                color: #fff;
                size: 1.25rem;
            }
        }
    }

    &:hover .profile-list {
        display: block;
    }
}
.navbar-purple {
    background-color: rgba(51, 10, 103, .93);
}